* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  max-height: 100vh;
  font-family: "Montserrat", sans-serif;
  background-color: #f6f6f6;
}

header,
footer {
  height: 7vh;
  background-color: #0588d3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
  color: #f6f6f6;
  font-weight: 600;
  -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
}

header nav ul,
footer nav ul {
  list-style: none;
  text-transform: uppercase;
  font-weight: 500;
}

header nav ul li,
footer nav ul li {
  display: inline-block;
  padding-left: 1.25rem;
}

header nav ul li:hover,
footer nav ul li:hover {
  text-decoration: underline;
}

header nav ul li a,
footer nav ul li a {
  text-decoration: none;
  color: #f6f6f6;
}

main {
  height: 86vh;
  padding: 0 1rem;
}

main .title {
  height: 10vh;
  text-transform: capitalize;
  font-size: 2.5rem;
  color: #5c5c5c;
  line-height: 10vh;
}

.contacts {
  height: 61vh;
}

.contacts__search {
  height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__search input {
  height: 2rem;
  width: 18rem;
  background-color: #f6f6f6;
  border: 1px solid #5c5c5c;
  border-radius: 10px;
  outline: none;
  padding: 0.5rem;
  color: #4a4a4a;
  font-size: 1rem;
}

.contacts__search input:focus {
  border: 2px solid #0588d3;
}

.contacts__search button {
  height: 3rem;
  width: 12rem;
  background-color: transparent;
  border: 1px solid #0588d3;
  color: #0588d3;
  font-size: 0.85rem;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 10px;
  cursor: pointer;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.contacts__search button:hover {
  color: #f6f6f6;
  background: #0588d3;
}

.contacts__delete {
  height: 7vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__delete button {
  display: none;
  height: 2rem;
  width: 12rem;
  background-color: transparent;
  border: 1px solid #eb1000;
  color: #e64343;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.contacts__delete button:hover {
  color: #f6f6f6;
  background: #e64343;
}

.contacts__head {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0588d3;
  color: #f6f6f6;
  height: 5vh;
  width: 100%;
  font-weight: 600;
  font-size: 0.85rem;
  text-transform: uppercase;
}

.contacts__head li {
  text-align: center;
}

.contacts__head li i {
  cursor: pointer;
}

.contacts__head li:nth-child(1) {
  width: 3%;
}

.contacts__head li:nth-child(1) input {
  cursor: pointer;
  height: 1rem;
  width: 1rem;
}

.contacts__head li:nth-child(2) {
  width: 17%;
}

.contacts__head li:nth-child(3) {
  width: 10%;
}

.contacts__head li:nth-child(4) {
  width: 20%;
}

.contacts__head li:nth-child(5) {
  width: 12%;
}

.contacts__head li:nth-child(6) {
  width: 15%;
}

.contacts__head li:nth-child(7) {
  width: 13%;
}

.contacts__head li:nth-child(8) {
  width: 10%;
}

.contacts .contacts__container {
  height: 56vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: auto;
}

.contacts__row {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  color: #5c5c5c;
  background-color: #f6f6f6;
  min-height: 3.5rem;
  max-height: 3.5rem;
  font-weight: 500;
  font-size: 0.85rem;
  /* &:nth-child(even) {
      background-color: #ebe9e9;
    } */
}

.contacts__row div {
  display: inline-block;
}

.contacts__row div p {
  text-align: center;
}

.contacts__row .checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 3%;
}

.contacts__row .checkbox input {
  cursor: pointer;
  height: 1rem;
  width: 1rem;
}

.contacts__row .name {
  width: 17%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__row .name img {
  display: block;
  border-radius: 50%;
  width: 45px;
  margin-right: 0.5rem;
}

.contacts__row .name p {
  text-align: left;
}

.contacts__row .name p:nth-child(2) {
  font-size: 0.65rem;
  color: #757575;
}

.contacts__row .country {
  width: 10%;
}

.contacts__row .country p:nth-child(2) {
  font-size: 0.75rem;
  color: #757575;
}

.contacts__row .company {
  width: 20%;
}

.contacts__row .channel {
  width: 12%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: auto;
}

.contacts__row .channel span {
  text-align: center;
  margin: 0.1rem;
  font-size: 0.65rem;
  line-height: 1.1rem;
  display: inline-block;
  min-width: 4rem;
  min-height: 1.1rem;
  background-color: #e0f3fc;
  color: #49c5ff;
  border-radius: 3px;
}

.contacts__row .ocupation {
  width: 15%;
}

.contacts__row .interest {
  width: 13%;
  font-size: 0.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__row .interest span {
  margin-right: 0.25rem;
}

.contacts__row .interest progress {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #f6f6f6;
  border: none;
  border-radius: 3px;
  overflow: hidden;
  height: 0.5rem;
}

.contacts__row .interest progress::-webkit-progress-bar {
  background-color: #f6f6f6;
}

.contacts__row .interest progress[value="25"]::-webkit-progress-value {
  background-color: #0cdeff;
  border-radius: 3px;
}

.contacts__row .interest progress[value="25"]::-moz-progress-bar {
  -moz-appearance: none;
       appearance: none;
  background-color: #0cdeff;
  border-radius: 3px;
}

.contacts__row .interest progress[value="50"]::-webkit-progress-value {
  background-color: #ffe70c;
  border-radius: 3px;
}

.contacts__row .interest progress[value="50"]::-moz-progress-bar {
  -moz-appearance: none;
       appearance: none;
  background-color: #ffe70c;
  border-radius: 3px;
}

.contacts__row .interest progress[value="75"]::-webkit-progress-value {
  background-color: #ff9e0c;
  border-radius: 3px;
}

.contacts__row .interest progress[value="75"]::-moz-progress-bar {
  -moz-appearance: none;
       appearance: none;
  background-color: #ff9e0c;
  border-radius: 3px;
}

.contacts__row .interest progress[value="100"]::-webkit-progress-value {
  background-color: #e64343;
  border-radius: 3px;
}

.contacts__row .interest progress[value="100"]::-moz-progress-bar {
  -moz-appearance: none;
       appearance: none;
  background-color: #e64343;
  border-radius: 3px;
}

.contacts__row .actions {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacts__row .actions-edit, .contacts__row .actions-delete {
  cursor: pointer;
  display: block;
  border: none;
  width: 2rem;
  height: 1.5rem;
  font-size: 1.1rem;
}

.contacts__row .actions-edit {
  color: #757575;
  background-color: transparent;
}

.contacts__row .actions-edit:hover {
  color: #0588d3;
}

.contacts__row .actions-delete {
  color: #757575;
  background-color: transparent;
}

.contacts__row .actions-delete:hover {
  color: #e64343;
}

.contacts__row:hover {
  background-color: #eeeeee;
}

footer {
  height: 7vh;
  font-size: 0.75rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: -3px -3px 10px rgba(0, 0, 0, 0.25);
          box-shadow: -3px -3px 10px rgba(0, 0, 0, 0.25);
}

footer a {
  text-decoration: none;
  color: #f6f6f6;
}

.newContact {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.newContact__modal {
  width: 90%;
  background-color: #f6f6f6;
  position: relative;
}

.newContact__modal-title {
  padding: 1rem;
  height: 18vh;
  background-color: #0588d3;
  color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.newContact__modal-title h1 {
  text-transform: uppercase;
  font-size: 1.25rem;
}

.newContact__modal-title i {
  cursor: pointer;
}

.newContact__modal-head {
  height: 18vh;
  width: calc(100% - 2rem);
  background-color: #f6f6f6;
  border: 3px solid #0588d3;
  border-radius: 10px;
  position: absolute;
  top: 12.5%;
  left: 1rem;
  -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
}

.newContact__modal-head img {
  display: block;
  border-radius: 50%;
  border: 2px solid #0588d3;
  width: 100px;
}

.newContact__modal-head div {
  color: #4a4a4a;
}

.newContact__modal-head div label {
  display: block;
  margin: 0 0 0.5rem 0.5rem;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.85rem;
}

.newContact__modal-head div label span {
  color: #e64343;
}

.newContact__modal-head div input,
.newContact__modal-head div select {
  color: #4a4a4a;
  display: block;
  max-height: 2rem;
  min-width: 12rem;
  background-color: #f6f6f6;
  border: 1px solid #5c5c5c;
  border-radius: 10px;
  outline: none;
  padding: 0.5rem;
  font-size: 1rem;
}

.newContact__modal-head div input:focus,
.newContact__modal-head div select:focus {
  border: 1px solid #0588d3;
}

.newContact__modal-head div select {
  font-size: 0.75rem;
}

.newContact__modal .newContac__modal-fieldsA {
  margin: 12.5vh 5% 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.newContact__modal .newContac__modal-fieldsA div {
  color: #4a4a4a;
}

.newContact__modal .newContac__modal-fieldsA div label {
  display: block;
  margin: 0 0 0.5rem 0.5rem;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.85rem;
}

.newContact__modal .newContac__modal-fieldsA div label span {
  color: #e64343;
}

.newContact__modal .newContac__modal-fieldsA div select,
.newContact__modal .newContac__modal-fieldsA div input {
  color: #4a4a4a;
  display: block;
  min-height: 1.5rem;
  min-width: 12rem;
  background-color: #f6f6f6;
  border: 1px solid #5c5c5c;
  border-radius: 10px;
  outline: none;
  padding: 0.5rem;
  font-size: 1rem;
}

.newContact__modal .newContac__modal-fieldsA div select:focus,
.newContact__modal .newContac__modal-fieldsA div input:focus {
  border: 1px solid #0588d3;
}

.newContact__modal .newContac__modal-fieldsB {
  margin: 2rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.newContact__modal .newContac__modal-fieldsB div {
  color: #4a4a4a;
  margin: 0 0.25rem 0.25rem;
}

.newContact__modal .newContac__modal-fieldsB div label {
  margin: 0 0 0.5rem 0.5rem;
  display: block;
  min-width: 5rem;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.85rem;
}

.newContact__modal .newContac__modal-fieldsB div select,
.newContact__modal .newContac__modal-fieldsB div input {
  display: block;
  margin-bottom: 0.25rem;
  margin-right: 1rem;
  color: #4a4a4a;
  min-height: 1rem;
  width: 100%;
  background-color: #f6f6f6;
  border: 1px solid #5c5c5c;
  border-radius: 10px;
  outline: none;
  padding: 0.5rem;
  font-size: 1rem;
}

.newContact__modal .newContac__modal-fieldsB div select:focus,
.newContact__modal .newContac__modal-fieldsB div input:focus {
  border: 1px solid #0588d3;
}

.newContact__modal .newContac__modal-save {
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.newContact__modal .newContac__modal-save button {
  width: 7rem;
  height: 2rem;
  margin: 0.5rem;
  background-color: transparent;
  border: none;
  color: #e64343;
  border: 1px solid #e64343;
  border-radius: 5px;
  font-size: 0.85rem;
  cursor: pointer;
}

.newContact__modal .newContac__modal-save button:nth-child(2) {
  color: #f6f6f6;
  background-color: #0588d3;
  border: 1px solid #0588d3;
}

.companies {
  height: 61vh;
}

.companies__addButton {
  height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 7vh;
}

.companies__addButton button {
  height: 3rem;
  width: 12rem;
  background-color: transparent;
  border: 1px solid #0588d3;
  color: #0588d3;
  font-size: 0.85rem;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 10px;
  cursor: pointer;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.companies__addButton button:hover {
  color: #f6f6f6;
  background: #0588d3;
}

.companies__container {
  height: 56vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: auto;
}

.companies__head {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0588d3;
  color: #f6f6f6;
  height: 5vh;
  width: 100%;
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
}

.companies__head li {
  text-align: center;
}

.companies__head li i {
  cursor: pointer;
}

.companies__head li:nth-child(1) {
  width: 20%;
}

.companies__head li:nth-child(2) {
  width: 20%;
}

.companies__head li:nth-child(3) {
  width: 10%;
}

.companies__head li:nth-child(4) {
  width: 20%;
}

.companies__head li:nth-child(5) {
  width: 20%;
}

.companies__head li:nth-child(6) {
  width: 10%;
}

.companies__row {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  color: #5c5c5c;
  background-color: #f6f6f6;
  min-height: 3.5rem;
  max-height: 3.5rem;
  font-weight: 500;
  font-size: 1rem;
}

.companies__row .company,
.companies__row .email,
.companies__row .address,
.companies__row .city {
  width: 20%;
  text-align: center;
}

.companies__row .actions,
.companies__row .phone {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.companies__row .actions-edit, .companies__row .actions-delete,
.companies__row .phone-edit,
.companies__row .phone-delete {
  cursor: pointer;
  display: block;
  border: none;
  width: 2rem;
  height: 1.5rem;
  font-size: 1.1rem;
}

.companies__row .actions-edit,
.companies__row .phone-edit {
  color: #757575;
  background-color: transparent;
}

.companies__row .actions-edit:hover,
.companies__row .phone-edit:hover {
  color: #0588d3;
}

.companies__row .actions-delete,
.companies__row .phone-delete {
  color: #757575;
  background-color: transparent;
}

.companies__row .actions-delete:hover,
.companies__row .phone-delete:hover {
  color: #e64343;
}

.companies__row:hover {
  background-color: #eeeeee;
}

.newCompany {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.newCompany__modal {
  width: 90%;
  background-color: #f6f6f6;
}

.newCompany__modal-title {
  padding: 1rem;
  height: 14%;
  background-color: #0588d3;
  color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.newCompany__modal-title h1 {
  text-transform: uppercase;
  font-size: 1.25rem;
}

.newCompany__modal-content {
  margin: 2rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.newCompany__modal-content div {
  color: #4a4a4a;
  margin-bottom: 0.25rem;
}

.newCompany__modal-content div label {
  margin: 0 0 0.5rem 0.5rem;
  display: block;
  min-width: 5rem;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.85rem;
}

.newCompany__modal-content div select,
.newCompany__modal-content div input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #4a4a4a;
  min-height: 1rem;
  width: 100%;
  background-color: #f6f6f6;
  border: 1px solid #5c5c5c;
  border-radius: 10px;
  outline: none;
  padding: 0.5rem;
  font-size: 1rem;
}

.newCompany__modal-content div select:focus,
.newCompany__modal-content div input:focus {
  border: 1px solid #0588d3;
}

.newCompany__modal-save {
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.newCompany__modal-save button {
  width: 7rem;
  height: 2rem;
  margin: 0.5rem;
  background-color: transparent;
  border: none;
  color: #e64343;
  border: 1px solid #e64343;
  border-radius: 5px;
  font-size: 0.85rem;
  cursor: pointer;
}

.newCompany__modal-save button:nth-child(2) {
  color: #f6f6f6;
  background-color: #0588d3;
  border: 1px solid #0588d3;
}

.region__head {
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0588d3;
  color: #f6f6f6;
  height: 5vh;
  width: 100%;
  font-weight: 600;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.region__head i {
  cursor: pointer;
}

.region__container {
  max-height: 19vh;
  overflow: auto;
  font-size: 1rem;
  padding: 1rem;
  color: #757575;
}

.region__container .item {
  background-color: #e0f3fc;
  border-radius: 10px;
  display: inline-block;
  width: 15rem;
  height: 3.35rem;
  margin: 0.5rem;
  line-height: 2.5rem;
}

.region__container .item div {
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.region__container .item div span {
  width: 70%;
}

.region__container .item div .i {
  width: 30%;
}

.region__container .item div .i i {
  cursor: pointer;
}

.region__container .item div .i i:nth-child(1):hover {
  color: #0588d3;
}

.region__container .item div .i i:nth-child(2):hover {
  color: #e64343;
}

.newRegion,
.newCountry,
.newCity {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.newRegion__modal,
.newCountry__modal,
.newCity__modal {
  width: 50%;
  background-color: #f6f6f6;
}

.newRegion__modal-title,
.newCountry__modal-title,
.newCity__modal-title {
  padding: 1rem;
  height: 14%;
  background-color: #0588d3;
  color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.newRegion__modal-title h1,
.newCountry__modal-title h1,
.newCity__modal-title h1 {
  text-transform: uppercase;
  font-size: 1.25rem;
}

.newRegion__modal-content,
.newCountry__modal-content,
.newCity__modal-content {
  margin: 2rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.newRegion__modal-content div,
.newCountry__modal-content div,
.newCity__modal-content div {
  color: #4a4a4a;
  margin-bottom: 0.25rem;
}

.newRegion__modal-content div label,
.newCountry__modal-content div label,
.newCity__modal-content div label {
  margin: 0 0 0.5rem 0.5rem;
  display: block;
  min-width: 5rem;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.85rem;
}

.newRegion__modal-content div select,
.newRegion__modal-content div input,
.newCountry__modal-content div select,
.newCountry__modal-content div input,
.newCity__modal-content div select,
.newCity__modal-content div input {
  margin-bottom: 0.25rem;
  color: #4a4a4a;
  min-height: 1rem;
  width: 12rem;
  background-color: #f6f6f6;
  border: 1px solid #5c5c5c;
  border-radius: 10px;
  outline: none;
  padding: 0.5rem;
  font-size: 1rem;
}

.newRegion__modal-content div select:focus,
.newRegion__modal-content div input:focus,
.newCountry__modal-content div select:focus,
.newCountry__modal-content div input:focus,
.newCity__modal-content div select:focus,
.newCity__modal-content div input:focus {
  border: 1px solid #0588d3;
}

.newRegion__modal .newCountry__modal-content,
.newRegion__modal .newCity__modal-content,
.newCountry__modal .newCountry__modal-content,
.newCountry__modal .newCity__modal-content,
.newCity__modal .newCountry__modal-content,
.newCity__modal .newCity__modal-content {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.newRegion__modal-save,
.newCountry__modal-save,
.newCity__modal-save {
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.newRegion__modal-save button,
.newCountry__modal-save button,
.newCity__modal-save button {
  width: 7rem;
  height: 2rem;
  margin: 0.5rem;
  background-color: transparent;
  border: none;
  color: #e64343;
  border: 1px solid #e64343;
  border-radius: 5px;
  font-size: 0.85rem;
  cursor: pointer;
}

.newRegion__modal-save button:nth-child(2),
.newCountry__modal-save button:nth-child(2),
.newCity__modal-save button:nth-child(2) {
  color: #f6f6f6;
  background-color: #0588d3;
  border: 1px solid #0588d3;
}

.hidden {
  display: none;
}
/*# sourceMappingURL=main.css.map */